* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    color: #000;
    background-color: #2c3e50;
}

.main {
    margin: 1rem;
    padding: 1rem;
    background: linear-gradient(-50deg, #2C3E50, #4A6A82, #2ECC71);
    border: 1px solid #000;
    border-radius: .5rem;

}

a {
    color: #000;
    text-decoration: none;
}


a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }
}