.skills {
    display: flex;
    flex-direction: column;
}

.tools ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 0;
    padding: 0;
    list-style: none;
}

.tools ul li img {
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
    margin: 0 .5rem;
}

.personal ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin:0;
    padding: 0;
}

.personal ul li {
    margin-left: 2rem;
    padding: .5rem;
}



@media only screen and (min-width: 768px) {
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}
